html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

#lose-text, #win-text {
  display: none;
  position: absolute;
  left: 50%;
  top: 48px;
  transform: translate(-50%, -50%);
  font-size: 64px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-shadow: 2px 2px 5px black;
}


#player-count {
  display: block;
  position: absolute;
  left: 32px;
  top: 0px;
  /* transform: translate(-50%, -50%); */
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-shadow: 2px 2px 5px black;
}


#glcanvas {
  display: block;
	width: 100vw;
  height: 100vh;
}